.boardWrapper{
    // width:856px;
    // height: 1163px;
    // overflow: hidden;
    // right:0;
    // position: absolute;
    // height: 100vh;
    // width: 100%;
    // min-height: 100vh;

    // width: calc(50vw + 310px);//cardwidth x 2
    // position:absolute;
    // right:0;
    display: flex;
    justify-content: center;
    position: relative;
}

.mapImage{
    height: calc(100vh - 30px);
    object-fit: contain;
}

.followerContainer{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: scale(0.65);

    &>button{
        margin-right:10px;
    }
}

.region{
    display: flex;
    align-items: center;
    justify-content: center;
}

.moray{
    position: absolute;
    top: 66px;
    left: 307px;
    width: 155px;
    height: 197px;
}
.strathclyde{
    position: absolute;
    top: 284px;
    left: 323px;
    width: 160px;
    height: 91px;
}
.northumbria{
    position: absolute;
    top: 420px;
    left: 530px;
    width: 115px;
    height: 227px;
}
.lancaster{
    position: absolute;
    top: 459px;
    left: 417px;
    width: 137px;
    height: 144px;
}
.gwynedd{
    position: absolute;
    top: 563px;
    left: 362px;
    width: 114px;
    height: 196px;
}
.warwick{
    position: absolute;
    top: 593px;
    left: 471px;
    width: 141px;
    height: 119px;
}
.essex{
    position: absolute;
    top: 604px;
    left: 574px;
    width: 146px;
    height: 203px;
}
.devon{
    position: absolute;
    top: 713px;
    left: 427px;
    width: 159px;
    height: 108px;
}
.france{
    position: absolute;
    top: 792px;
    left: 667px;
    width: 171px;
    height: 133px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    transform: rotateY(-180deg);
}
.bank{
    position: absolute;
    top: 89px;
    left: 640px;
    width: 166px;
    height: 238px;
    display: flex;
    transform: scale(0.65);
    transform-origin: top;
    flex-direction: column;
    flex-wrap: wrap;
    & button{
        margin-right:10px;
    }
}

.bankFollowers{
    display: flex;
    flex-wrap: wrap;
}

//region cards

.regionCardPlacement{
    position:absolute;
    bottom:0;
}

.one {
    top:10px;
    left:0;
}

.two {
    top:238px;
    left:0;
}

.three {
    top:467px;
    left:0;
}

.four {
    top:696px;
    left:0;
}

.five {
    top:10px;
    right:0;
}

.six {
    top:238px;
    right:0;
}

.seven {
    top:467px;
    right:0;
}

.eight {
    top:696px;
    right:0;
}


